[submodule "libyaml"]
	path = vendor/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "googletest"]
	path = vendor/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "googlemock"]
	path = vendor/gmock
	url = https://chromium.googlesource.com/external/gmock.git
